* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
.border{
    margin: center;
    padding: auto;
    width: 20%;
    height: 300vh;
    overflow-y: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.newNote{
    position: absolute;
    width: 30%;
    bottom: 0;
}
.split {
    display: flex;
}